.projects {
    padding-top: 4rem;
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            gap: 0.5rem;
            border-radius: var(--radius);
            width: 100%;
            color: var(--secondary-color-faded);

            &:hover {
                .title {
                    color: var(--tertiary-color);
                }
                p {
                    color: var(--secondary-color);
                }
                .icon {
                    transform: translate(0.3rem, -0.3rem);
                }
                img {
                    border-color: var(--secondary-color);
                }
            }

            img {
                width: calc(var(--icons-width) * 2.2);
                height: calc(var(--icons-width) * 1.2);
                border-radius: var(--radius);
                border: 1px solid var(--secondary-color-faded);
                margin-right: 1rem;
                flex: 0 0 auto;
            }

            article {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                color: var(--secondary-color);

                .title {
                    display: flex;
                    align-items: center;
                }
                > p {
                    color: var(--secondary-color-faded);
                }
                .icon {
                    transition: transform 0.2s;
                    margin-left: 0.5rem;
                }
            }

            .technologies {
                margin-bottom: 0.5rem;
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                .technology {
                    background-color: var(--tertiary-color-faded);
                    font-size: var(--headers-small-paragraph);
                    color: var(--tertiary-color);
                    border-radius: 0.25rem;
                    padding: 0.1rem 0.4rem;
                    font-size: 0.75rem;

                }
            }
        }
    }

    .readmore {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        color: var(--secondary-color);
        cursor: pointer;
        &:hover {
            color: var(--tertiary-color);
            .icon {
                transform: translate(0.3rem, -0.3rem);
            }
        }
        .icon {
            margin-left: 0.5rem;
            width: 1.2rem;
            height: 1.2rem;
            transition: transform 0.2s;
        }
    }
}
