// =============================================================================
// Home Page
// =============================================================================

body {
    background-color: $primary-color;
}

#about {
    color: $secondary-color-faded;
    padding-top: 4rem;
    strong {
        color: $secondary-color;
    }
}

#left {
    p {
        color: $secondary-color-faded;
    }
}
